[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
channels = "*"
channels-redis = "*"
graphql-ws = "*"
graphql-core = "*"
pillow = "*"
mysqlclient = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
