[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
channels-redis = "*"
pillow = "*"
mysqlclient = "*"
django-filter = "*"
bleach = "*"
django-graphql-jwt = "*"
django-allauth = "*"
channels = {extras = ["daphne"], version = "*"}
django-ratelimit = "*"

[dev-packages]

[requires]
python_version = "3.12"
